<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="row">
        <div id="pageWrapper" class="col-8">
            <div id="showAllCards">
                <div class="row">
                    <div *ngFor="let card of cardsToShow">
                        <div class="card" style="width: 18rem;">
                            <img src="{{card.image}}" class="card-img-top" alt="Card Image Art">
                            <div class="card-body">
                                <h5 class="text-center card-title">{{card.name}}</h5>
                            </div>
                            <button (click) = "addCardToDeck(card.name)" class="btn btn-success">Add Card to Deck</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="createNewCard">
                <h1 class="text-center">Create New Card</h1>
                <form (submit) = "createNewCard()">
                    <div class="form-group">
                        <label>Name: </label>
                        <input type="text" class="form-control"
                        name = "newCard.name"
                        required
                        minlength="5"
                        [(ngModel)] = "newCard.name"
                        #name = "ngModel"
                        />
                        <div class="invalid" *ngIf="name.errors && (name.dirty || name.touched)">Card names require at least 5 characters in length!</div>
                        <div class="valid" *ngIf="name.valid">This is a valid Card name</div>
                    </div>
                    <div class="form-group">
                        <label>Card Number: </label>
                        <input type="number" class="form-control"
                        name = "newCard.number"
                        required
                        [(ngModel)] = "newCard.number"
                        #number = "ngModel"
                        />
                        <div class="valid" *ngIf="number.valid">This card is valid</div>
                    </div>
                    <div class="form-group">
                        <label>Card Image URL</label>
                        <input type="text" class="form-control"
                        name="newCard.image"
                        required
                        [(ngModel)] = "newCard.image"
                        #image = "ngModel"
                        />
                        <div class="valid" *ngIf="image.valid">This is a valid Image URL</div>
                    </div>
                    <button [disabled] = "!image.valid || !number.valid" class="btn btn-success" type="submit">Add Card</button>
                </form>
            </div>
        </div>
        <div id="sideWrpper" class="col-4">
            <form (submit) = "saveDeckToDatabase()">
                <div id="deckList">
                    <div *ngFor="let card of deck" class="d-flex">
                        <div class="cardBlock text-center">
                            <p>{{card.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden"
                    name="newDeck.cards"
                    [(ngModel)] = "newDeck.cards"
                    [value] = "newDeck.cards"
                    />
                </div>
                <div class="form-group">
                    <input type=text class="form-control"
                    name="newDeck.name"
                    required
                    [(ngModel)] = "newDeck.name"
                    #name = "ngModel"
                    />
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-success">Save your deck!</button>
                </div>
            </form> 
        </div>
    </div>
</body>
